<% @page_title = 'Nos projets' %>

<h1>Nos projets</h1>

<div id="projects" class="roundedbox">
<p>La <%= link_to_bbpf %>  est le noeud national du Global Biodiversity Information Facility (<%= link_to_gbif %>).</p>
<p>
  En tant que tel, notre mission consiste à faciliter l'accès aux données belges relatives à
  la biodiversité via le réseau GBIF. Pour atteindre cet objectif, la plate-forme travaille
  en partenariat avec les différentes institutions scientifiques belges et autres acteurs impliqués
  dans la recherche portant sur la biodiversité. La plate-forme est également impliquée dans
  d'autres initiatives internationales (<%= link_to 'SCAR-MarBin', :action => 'scarmarbin' %>)
  et développe des forums thématiques (<%= link_to 'FADA', :action => 'fada' %> ,<%= link_to 'IAS', 'http://ias.biodiversity.be/', :class => 'external' %>)
  ayant pour but d'encourager la recherche scientifique. La plate-forme lance également des appels à
  projets de numérisation.
</p>

<p>Cette section fournit un bref apercu de nos initiatives passées et présentes :</p>

<ul>
<li>Appels à numérisation : 2006, 2007, 2009</li>
<li>European Network for Biodiversity Information (ENBI)</li>
<li>Freshwater Animal Diversty Assessment (FADA)</li>
<li>Biodiversity en l'Antartique (SCAR-MarBin)</li>
</ul>
<p>
  Le Portail Belge de Données vous permet d'explorer les données du GBIF
  (provenant de collections ou d'observations, géo-référencée ou non)
  survenues sur le territoire belge.
</p>

<p>
  Pour accéder aux données belges portant sur la biodiversité dans le monde (
  Afrique, Antarctique, etc), nous vous suggérons de visiter le 
  <%= link_to 'site des données mondiales GBIF', 'http://data.gbif.org', :class => 'external'%>
  ainsi que les différents sites web thématiques.
</p>

</div>
